// tailwindで自作した組み合わせクラスが本番環境で適用されないことが多かったの（特にセレクタを使用した箇所）で急遽移動
*, *::before, *::after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

/* form入力エラー時に自動で追加されるクラスの影響をなくす */
.field_with_errors {
  display: contents;
}

/* ページネーション */
.pagination {
  width: 30%;
  max-width: 300px;
  min-width: 200px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-around;
  color: rgb(63, 178, 214);
}
.page {
  margin-left: 0.25rem/* 4px */;
  margin-right: 0.25rem/* 4px */;
  font-size: 1.25rem/* 20px */; 
}
.current {
  color: rgba(31, 41, 55, var(--tw-text-opacity));
  font-size: 1.5rem/* 24px */;
  font-weight: 600;
}
.prev {
  margin-left: 0.25rem/* 4px */;
  margin-right: 0.25rem/* 4px */;
}

/* タイトル */
.page-title {
  width: 91.666667%;
  margin-top: 3rem/* 48px */;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem/* 40px */;
  border-bottom-width: 2px;
  font-size: 1.5rem/* 24px */;
}

/* フッター */
.footer_icon {
  display: block;
}
.footer_icon:hover {
  color: #b2b2b2;
}
.footer_icon:hover > img {
  filter: brightness(0%) invert(50%);
}

/* ラベル */
.label {
  display: inline-block;
}
.field {
  display: block;
  width: 100%;
  height: 2rem/* 32px */;
  border-width: 1px;
  border-radius: 0.25rem/* 4px */;
}

// /* 三角形 */
// .triangle:hover::before {
//   content: '';
//   display: inline-block;
//   border-top: 8px solid transparent;
//   border-bottom: 8px solid transparent;
//   border-left: 13.8564px solid #2d3748;
// }

/* 数字 */
.number {
  padding: 0.25rem/* 4px */;
  border-radius: 0.375rem/* 6px */;
  --text-opacity: 1;
  color: #667eea;
  color: rgba(102, 126, 234, var(--text-opacity));
  font-size: 1.5rem/* 24px */;
}
.number:hover {
  --bg-opacity: 1;
  background-color: #a3bffa;
  background-color: rgba(163, 191, 250, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}

/* アラート */
.alert {
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 61px;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  text-align: center;
  opacity: 0;
  -moz-animation: fadeout 5s linear 0s forwards;
  /* Firefox */
  -webkit-animation: fadeout 5s linear 0s forwards;
  /* Safari and Chrome */
  -o-animation: fadeout 5s linear 0s forwards;
  /* Opera */
  animation: fadeout 5s linear 0s forwards;
}
@media screen and (min-width: 1024px) {
  .alert {
    width: calc(100% - 224px);
  }
}
@-webkit-keyframes fadeout {
	0% {
    height: auto;
		opacity : 75%;
	}
	80%{
    height: auto;
    opacity: 50%;
	}
	100% {
		opacity: 0;
	}
}
.alert > div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.75rem/* 12px */;
  padding-bottom: 0.75rem/* 12px */;
  padding-left: 4rem/* 64px */;
  padding-right: 4rem/* 64px */;
  border-radius: 0.5rem/* 8px */;
}
.alert-success{
  --bg-opacity: 1;
  background-color: #9ae6b4;
  background-color: rgba(154, 230, 180, var(--bg-opacity));
  --text-opacity: 1;
  color: #276749;
  color: rgba(39, 103, 73, var(--text-opacity));
}
.alert-info {
  --bg-opacity: 1;
  background-color: #e2e8f0;
  background-color: rgba(226, 232, 240, var(--bg-opacity));
  --bg-opacity: 1;
  background-color: #e2e8f0;
  background-color: rgba(226, 232, 240, var(--bg-opacity));
}
.alert-danger {
  --bg-opacity: 1;
  background-color: #feb2b2;
  background-color: rgba(254, 178, 178, var(--bg-opacity));
  --text-opacity: 1;
  color: #9b2c2c;
  color: rgba(155, 44, 44, var(--text-opacity));
}
.alert-warning {
  --bg-opacity: 1;
  background-color: #feb2b2;
  background-color: rgba(254, 178, 178, var(--bg-opacity));
  --text-opacity: 1;
  color: #9b2c2c;
  color: rgba(155, 44, 44, var(--text-opacity));
  white-space: pre-line;
}

/* ボタン */
.btn-blue {
  border-width: 1px;
  --border-opacity: 1;
  border-color: #9f7aea;
  border-color: rgba(159, 122, 234, var(--border-opacity));
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #9f7aea;
  color: rgba(159, 122, 234, var(--text-opacity));
}
.btn-blue:hover {
  --bg-opacity: 1;
  background-color: #9f7aea;
  background-color: rgba(159, 122, 234, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.btn-blue:hover > img {
  filter: brightness(0) invert(1);
}
.margin-bottom-2px {
  margin-bottom: 2px;
}
.btn-red {
  border-width: 1px;
  --border-opacity: 1;
  border-color: #f56565;
  border-color: rgba(245, 101, 101, var(--border-opacity));
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #f56565;
  background-color: rgba(245, 101, 101, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.btn-red:hover {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #f56565;
  color: rgba(245, 101, 101, var(--text-opacity));
}
.btn-green {
  border-width: 1px;
  --border-opacity: 1;
  border-color: #68d391;
  border-color: rgba(104, 211, 145, var(--border-opacity));
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  border-radius: 9999px;
  --text-opacity: 1;
  color: #68d391;
  color: rgba(104, 211, 145, var(--text-opacity));
}
.btn-green:hover {
  --bg-opacity: 1;
  background-color: #68d391;
  background-color: rgba(104, 211, 145, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.btn-regreen {
  margin-top: 1px;
  border-width: 2px;
  --border-opacity: 1;
  border-color: #68d391;
  border-color: rgba(104, 211, 145, var(--border-opacity));
  --bg-opacity: 1;
  background-color: #68d391;
  background-color: rgba(104, 211, 145, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.btn-regreen:hover {
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  --text-opacity: 1;
  color: #68d391;
  color: rgba(104, 211, 145, var(--text-opacity));
}
.btn-disabled {
  border-width: 1px;
  --border-opacity: 1;
  border-color: #cbd5e0;
  border-color: rgba(203, 213, 224, var(--border-opacity));
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #e2e8f0;
  background-color: rgba(226, 232, 240, var(--bg-opacity));
}
.btn-disabled:hover {
  --bg-opacity: 1;
  background-color: #cbd5e0;
  background-color: rgba(203, 213, 224, var(--bg-opacity));
}
.map-btn {
  padding-top: 0.5rem/* 8px */;
  padding-bottom: 0.5rem/* 8px */;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;
  border-radius: 0.125rem/* 2px */;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --bg-opacity: 1;
  background-color: #fff;
  background-color: rgba(255, 255, 255, var(--bg-opacity));
  cursor: pointer;
}
.map-btn:hover {
  --text-opacity: 1;
  color: #000;
  color: rgba(0, 0, 0, var(--text-opacity));
}

// マップの縦サイズをjsと合わせてスマホでも動かないように
.map-height {
  height: calc(100vh - 104px); /* 変数をサポートしていないブラウザのフォールバック */
  height: calc(var(--vh, 1vh) * 100 - 104px);
}
@media screen and (min-width: 1024px) {
  .map-height {
    height: calc(100vh - 56px); /* 変数をサポートしていないブラウザのフォールバック */
    height: calc(var(--vh, 1vh) * 100 - 56px);
  }
}

/* タグ */
.tag {
  display: inline-block;
  margin-bottom: 0.5rem/* 8px */;
  padding-left: 0.75rem/* 12px */;
  padding-right: 0.75rem/* 12px */;
  border-width: 1px;
  border-radius: 9999px;
  --bg-opacity: 1;
  background-color: #7f9cf5;
  background-color: rgba(127, 156, 245, var(--bg-opacity));
  --text-opacity: 1;
  color: #fff;
  color: rgba(255, 255, 255, var(--text-opacity));
}
.tag:hover {
  --bg-opacity: 1;
  background-color: #667eea;
  background-color: rgba(102, 126, 234, var(--bg-opacity));
}

/* 並び替えボタン */
.radio-inline__input {
  display: none;
}
.radio-inline__label {
  display: inline-block;
  border-radius: 3px;
  transition: all .2s;
}
.radio-inline__label:hover {
  text-decoration: underline;
}
@media screen and (min-width: 640px) {
  .radio-inline__label {
    margin: 0 30px;
  }
}
.radio-inline__input:checked + .radio-inline__label {
  background: #B54A4A;
  color: #fff;
  text-shadow: 0 0 1px rgba(0,0,0,.7);
}
.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4D90FE;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

/* micropostをモーダル表示する操作 */
.grad-item {
  overflow: hidden;
  height: 0;
}
.grad-trigger {
  display: none;
}
.grad-btn {
  background-color: white;
  cursor: pointer;
}
.display-div {
  padding: 0.5rem/* 8px */;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem/* 8px */;
}
.image-div > img{
  width: 100%;
  height: 160px;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .display-div {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .image-div {
    min-width: 200px;
  }
}
@media screen and (min-width: 768px) {
  .image-div > img {
    width: 200px;
  }
}
.grad-trigger:checked ~ .grad-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 22, 22, 0.8)
}
.grad-trigger:checked ~ .grad-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 850px;
  max-height: 90%;
  margin: 5px 0;
  overflow-y: scroll;
  border: 2px solid #f09199;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #fce2c4 inset;
}
.grad-trigger:checked ~ .grad-btn > .grad-item {
  height: auto;
}
.grad-trigger:checked ~ .grad-btn > .display-div {
  justify-content: space-around;
  margin: 10px 10px 0 10px;
  border: 0;
  box-shadow: none;
}
.grad-trigger:checked ~ .grad-btn > .display-div > #mini-info > div {
  margin-bottom: 15px;
}
.grad-trigger:checked ~ .grad-btn > .display-div > .image-div > img {
  width: 100%;
  height: auto;
  margin-top: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.3);
  object-fit: fill;
}
@media screen and (min-width: 768px) {
  .grad-trigger:checked ~ .grad-btn > .display-div {
    display: block;
  }
}

a:hover img {
  opacity: 0.7;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
    filter: alpha(opacity = 60);
  transition: all 0.4s;
}
a {
  text-decoration: none;
  color: #435ea9;
}
a:hover {
  text-decoration: none;
  color: #0E2D96;
  transition: 0.3s all;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/******* 地図成形 *******/
#japan-map div div.area div {
  border: 1px #ffffff solid;
  text-align: center;
  font-size: 14px;
   display: flex;
    display: -webkit-flex;
   align-items: center; /* 縦方向中央揃え */
     -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
   justify-content: center; /* 横方向中央揃え */
     -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  border-radius: 6px;
    -webkit-border-radius: 6px;
  position: absolute;
  box-sizing: border-box;
  transition: 0.2s;
}
#japan-map div div.area div:hover {
  opacity: 0.5;
  transition: 0.2s;
}

#japan-map {
  display: block;
  width: 777px;
  height: 482px;
  background-color: none;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#japan-map p.area-title {
  display: none;
}

/* 北海道・東北 */

#hokkaido-touhoku {
  width: 136px;
  display: block;
  height: 265px;
  position: absolute;
  left: 638px;
}
#hokkaido-touhoku div.area div {
  background-color: #7478c2;
  color: #ffffff;
}

#hokkaido {  
  width: 133px;
  height: 70px;
}
#aomori {
  width: 93px;
  height: 43px;
  left: 21px;
  top: 96px;
}
#akita {
  width: 67px;
  height: 42px;
  left: 3px;
  top: 139px;

}
#iwate {
  width: 67px;
  height: 42px;
  left: 70px;
  top: 139px;
}
#yamagata {
  width: 67px;
  height: 42px;
  top: 181px;
  left: 3px;
}
#miyagi {
  width: 67px;
  height: 42px;
  top: 181px;
  left: 70px;
}
#fukushima {
  width: 67px;
  height: 42px;
  top: 223px;
  left: 70px;
}

/* 関東 */

#kantou {
  width: 158px;
  display: block;
  height: 174px;
  position: absolute;
  top: 265px;
  left: 623px;
  z-index: 2;
}
#kantou div.area div {
  background-color: #31beca;
  color: #ffffff;
}
#ibaraki {
  width: 52px;
  height: 85px;
  top: 0px;
  left: 100px;
}
#tochigi {
  width: 50px;
  height: 42px;
  top: 0px;
  left: 50px;
}
#gunma {
  width: 50px;
  height: 42px;
  top: 0px;
  left: 0px;
}
#saitama {
  width: 100px;
  height: 43px;
  top: 42px;
  left: 0px;
}
#chiba {
  width: 52px;
  height: 84px;
  top: 85px;
  left: 100px;
}
#tokyo {
  width: 100px;
  height: 42px;
  top: 85px;
  left: 0px;
}
#kanagawa {
  width: 67px;
  height: 42px;
  top: 127px;
  left: 0px;
}

/* 中部 */

#tyubu {
  width: 270px;
  height: 211px;
  position: absolute;
  left: 438px;
  top: 223px;
}
#tyubu div.area div {
  background-color: #4ab969;
  color: #ffffff;
}

#nigata {
  width: 85px;
  height: 42px;
  left: 185px;
}
#toyama {
  width: 67px;
  height: 42px;
  left: 118px;
}
#ishikawa {
  width: 50px;
  height: 57px;
  left: 68px;
}
#fukui {
  width: 68px;
  height: 42px;
  left: 0px;
  z-index: 2;
}
#nagano {
  width: 67px;
  height: 85px;
  left: 118px;
  top: 42px
}
#yamanashi {
  width: 67px;
  height: 42px;
  left: 118px;
  top: 127px;
}
#gifu {
  width: 50px;
  height: 55px;
  left: 68px;
  top: 57px
}
#shizuoka {
  width: 67px;
  height: 42px;
  left: 118px;
  top: 169px;
}
#aichi {
  width: 50px;
  height: 57px;
  top: 112px;
  left: 68px;
}

/* 近畿 */

#kinki {
  width: 186px;
  height: 211px;
  position: absolute;
  left: 320px;
  top: 223px;
}
#kinki div.area div {
  background-color: #b0b72f;
  color: #ffffff;
}

#kyoto {
  width: 67px;
  height: 84px;
  left: 51px;
}
#shiga {
  width: 68px;
  height: 42px;
  top: 42px;
  left: 118px;
}
#osaka {
  width: 67px;
  height: 85px;
  top: 84px;
  left: 51px;
}
#nara {
  width: 34px;
  height: 85px;
  top: 84px;
  left: 118px;
}
#mie {
  width: 34px;
  height: 85px;
  top: 84px;
  left: 152px;
}
#wakayama {
  width: 113px;
  height: 42px;
  top: 169px;
  left: 61px;
}
#hyougo {
  width: 51px;
  height: 98px;
  left: 0px;
}

/* 中国 */

#tyugoku {
  width: 151px;
  height: 98px;
  position: absolute;
  left: 169px;
  top: 223px;
}
#tyugoku div.area div {
  background-color: #ef9f27;
  color: #ffffff;
}
#tottori {
  width: 50px;
  height: 49px;
  left: 101px;
}
#okayama {
  width: 50px;
  height: 49px;
  top: 49px;
  left: 101px;
}
#shimane {
  width: 51px;
  height: 49px;
  left: 50px;
}
#hiroshima {
  width: 51px;
  height: 49px;
  top: 49px;
  left: 50px;
}
#yamaguchi {
  width: 50px;
  height: 98px;
  left: 0px;
}

/* 四国 */

#shikoku {
  width: 184px;
  height: 84px;
  position: absolute;
  left: 169px;
  top: 350px;
}
#shikoku div.area div {
  background-color: #d08f68;
  color: #ffffff;
}
#kagawa {
  width: 92px;
  height: 42px;
  right: 0px;
}
#ehime {
  width: 92px;
  height: 42px;
  left: 0px;
}
#tokushima {
  width: 92px;
  height: 42px;
  right: 0px;
  top: 42px;
}
#kouchi {
  width: 92px;
  height: 42px;
  left: 0px;
  top: 42px;
}

/* 九州・沖縄 */

#kyusyu {
  width: 152px;
  height: 247px;
  position: absolute;
  left: 0px;
  top: 235px;
}
#kyusyu div.area div {
  background-color: #ff7575;
  color: #ffffff;
}
#fukuoka {
  width: 50px;
  height: 50px;
  left: 101px;
  top: 0px;
}
#saga {
  width: 50px;
  height: 50px;
  left: 51px;
  top: 0px;
}
#nagasaki {
  width: 50px;
  height: 50px;
  left: 1px;
  top: 0px;
}
#oita {
  width: 50px;
  height: 50px;
  left: 101px;
  top: 50px;
}
#kumamoto {
  width: 50px;
  height: 100px;
  left: 51px;
  top: 50px;
}
#miyazaki {
  width: 50px;
  height: 50px;
  left: 101px;
  top: 100px;
}
#kagoshima {
  width: 68px;
  height: 49px;
  left: 83px;
  top: 150px;
}
#okinawa {
  width: 50px;
  height: 50px;
  left: 1px;
  top: 197px;
}


/****************************************
  レスポンシブ

****************************************/
@media screen and (max-width: 776px) {
#japan-map {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
#japan-map p.area-title {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  color: #000000;
}
#hokkaido-touhoku, #kantou, #tyubu, #kinki, #tyugoku, #shikoku, #kyusyu {
  display: block;
  position: static;
  margin: 0 1em 0 1em;
}
#japan-map div div.area {
  display: block;
  position: relative;
}

#hokkaido-touhoku {
  height: calc(265px + 4.5em);
}
#kantou {
  height: calc(174px + 4.5em);
}
#tyubu {
  height: calc(211px + 4.5em);
}
#kinki {
  height: calc(211px + 4.5em);
}
#tyugoku {
  height: calc(98px + 4.5em);
}
#shikoku {
  height: calc(84px + 4.5em);
}
#kyusyu {
  height: calc(247px + 4.5em);
}

} /* レスポンシブ max-776px */



@media screen and (max-width: 500px) {
#japan-map {
  display: block;
  width: 100%;
  height: auto;
}
#hokkaido-touhoku, #kantou, #tyubu, #kinki, #tyugoku, #shikoku, #kyusyu {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  position: static;
  margin-left: 0px;
  margin-right: 0px;
}
#japan-map div div.area {
  font-size: 14px;
   display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#japan-map div div.area a {
  height: auto;
  width: 25%;
}
#japan-map div div.area div {
  display: block;
  border-radius: 0px;
  position: static;
  height: auto;
  font-size: 16px;
  width: 100%;
  padding: 0.5em 0.3em 0.5em 0.3em;
}


}